<!DOCTYPE html>
<html>
	<head>
		<title><%= productName %></title>

		<meta charset="utf-8">
		<meta name="description" content="<%= productDescription %>">
		<meta name="format-detection" content="telephone=no">
		<meta name="msapplication-tap-highlight" content="no">
		<meta name="viewport" content="initial-scale=1, width=device-width">

		<link rel="icon" type="image/ico" href="images/favicon.ico">
	</head>
	<body>
		<!-- DO NOT touch the following DIV -->
		<div id="q-app"></div>
	</body>
</html>
